<%# 画面下部に固定表示されるナビゲーションバー %>
<%# TODO：スマホ画面では下部ナビ、PCではサイドバーというように表示を切り替えることも検討 %>
<nav class="fixed bottom-0 left-0 right-0 z-20 h-16 bg-white border-t border-gray-200 flex justify-around">

  <%# ホームへのリンク %>
  <%= link_to root_path, class: "flex flex-col items-center justify-center w-full h-full #{bottom_nav_class(root_path)}" do %>
    <%= inline_svg_tag 'home.svg', class: "h-6 w-6 mb-1" %>
    <span class="text-xs">ホーム</span>
  <% end %>

  <%# 発声練習へのリンク %>
  <%# リンク先を practice_menus_path に変更し、ヘルパーに 'practice_menus' コントローラーを渡す %>
  <%= link_to practice_menus_path, class: "flex flex-col items-center justify-center w-full h-full #{bottom_nav_class(practice_menus_path, match_controllers: ['practice_menus'])}" do %>
    <%= inline_svg_tag 'mic.svg', class: "h-6 w-6 mb-1" %>
    <span class="text-xs">発声練習</span>
  <% end %>

  <%# 学習記録へのリンク %>
  <%= link_to learning_log_path, class: "flex flex-col items-center justify-center w-full h-full #{bottom_nav_class(learning_log_path)}" do %>
    <%= inline_svg_tag 'chart_bar.svg', class: "h-6 w-6 mb-1" %>
    <span class="text-xs">学習記録</span>
  <% end %>

  <%# 設定へのリンク %>
  <%# 将来的な機能のため、パスは '#' にしておく %>
  <%= link_to '#', class: "flex flex-col items-center justify-center w-full h-full #{bottom_nav_class('#')}" do %>
    <%= inline_svg_tag 'gears.svg', class: "h-6 w-6 mb-1" %>
    <span class="text-xs">設定</span>
  <% end %>
</nav>

<%# 下部ナビゲーションの高さ分(h-16)、ページの最下部に余白を確保するスペーサー %>
<%# TODO：スマホ画面では下部ナビ、PCではサイドバーというように表示を切り替えることも検討 %>
<div class="h-16"></div>